[submodule "hw"]
	path = hw
	url = https://github.com/Digilent/Genesys-ZU-HW.git
[submodule "sw"]
	path = sw
	url = https://github.com/Digilent/Genesys-ZU-SW.git
[submodule "os"]
	path = os
	url = https://github.com/Digilent/Genesys-ZU-OS.git
